#burger_svg {
    float: right;
    display: block;
    position: fixed;
    right: 45px;
    margin-top: 29px;
    z-index: 2;
    transition: transform 2s;
    cursor: pointer;
}

// #burger_svg:active #burger_circle {
    // transform:scale(500, 500);
// }

#burger_circle {
    transition: transform .2s;
    transform-origin: center center;
}
  
#burger_svg:hover #burger_circle {
    transform:scale(1.05, 1.05);
}
