.cism {
    display: block;
    position: fixed;
    background: #464444;
    width: 100%;
    height: 28px;
    z-index: 2;
}

.cism_container {
    margin: 0 auto;
    width: 70%;
    font-size: 22px;
}

.cism_link {
    float: right;
    text-align: right; 
    font-family: 'hoefler-text';
    color: #FFFFFF;
    background: #5D5D5D;
    margin-top: -3px;
    padding: 0px 10px 31px 10px;
    transition: 0.5s;
    height: 28px;
}

.cism_link:hover {
    color: #a11c21;
    text-decoration: none;
}