.contact_us_grid {
    font-family: 'Roboto', sans-serif;
    // display: grid;
    // grid-template-areas: 
    //     'eader header header header header headerh'
    //     'left left left right right right';
    
    padding-top: 150px;
}

// .grid_item {
//     padding: 20px;
// }
.contact_us_header {
    margin-bottom: 3%;
}

.contact_us_header h1 {
    font-size: 400%;
    margin-bottom: -10px;
}
.contact_us_header h6 {
    font-size: 150%;
    // padding-top: -20px;
    // margin-right: -190px;
    margin-left: 10%;
    color: #d4880e;    
}

.contact_us_form_iframe {
    // position:relative;
    // overflow:hidden;
    // box-sizing:border-box;
    // background:#F5F5F5;
    // background:#f3eacb;
    // background:#f5eccf;
    // height: 100%;
    // padding-top: 200px;  

    float: left;
    margin-left: 5%;
}

.contact_details {
    float: right;
    margin-right: 5%;
}

.contact_us_map_iframe {
    display: block;
}

.contact_address{
    float: left;
}