.epic_portal {
    float: right;
    position: fixed;
    z-index: 2;
    right: 310px;
    margin-top: 26px;
    cursor: pointer;
}

#epic_circle {
    transition: transform .2s;
    transform-origin: center center;
}

#epic_svg:hover #epic_circle {
    stroke-width: 7px;
    transform:scale(1, 1);
}
