// .home {
//     position: relative;
// }

.carousel_section {
    position: relative;
}

.carouselSideText {
    position: absolute;
    display: block;
    float: left;
    margin-top: 15%;
    margin-left: 2%;
}

.carouselSideText h1{
    position: absolute;
    text-align: left;
    // width: 400px;
    width: 30vw;
    margin-left: 30px;

    // font-size: 120px;
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;

    background-image: linear-gradient(150deg, #fff, #d48815, #a11c21,#212526);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


.padlet_section {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
}

.team_section {
    margin-top: 46%;
    width: 100%;
}
