.lrc_policy {
    padding-top: 140px;
    padding-bottom: 5%;

    // background-color: #d1d1d1;
}

.lrc_policy_header {
    margin-bottom: 35px;
}

.lrc_policy_header h1 {
    font-size: 350%;
    margin-bottom: -10px;
    color: #252424;
}
.lrc_policy_header h6 {
    margin-left: 470px;
    font-size: 180%;
    font-weight: normal;
    color: #df8c08;  
}

.lrc_policy_iframe {
    width: 43%;
    height: 100vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
