.policy1 {
    font-family: 'Roboto', sans-serif;
    position:relative;
    // overflow:hidden;
    // box-sizing:border-box;
    background:#F5F5F5;
    // width: 100%;
    // height: 100%;
    padding-top: 200px;
}

.policy1-iframe {
    // width: 44%;
    // height: 140vw;
    border: 0;
    // text-align: center;
}
