.App {
  text-align: center;
  /* background-color: rosybrown; */
  
  animation-name: fadeIn;
  animation-duration: 1s;
}

html {
  scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  /* background-color: #f1f1f1 0.5;
  opacity: 0.5; */
  /* background: #a11c21; */
  background: #d38610;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888;  */
  background: #a11c21;
  /* background: #d38610; */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 10px;
}